{% extends 'base.html' %}

{% block content %}
<h2 class="text-center">Tu Álbum</h2>
<div class="photo-gallery">
    {% for photo in photos %}
        <div class="photo">
            <img src="{{ photo.image }}" alt="{{ photo.title }}">
            <h3>{{ photo.title }}</h3>
            <p>{{ photo.description }}</p>
            <a href="{{ url_for('main.edit_photo', id=photo.id) }}" class="btn btn-secondary">Editar</a>
            <form action="{{ url_for('main.delete_photo', id=photo.id) }}" method="POST" class="d-inline">
                <button type="submit" class="btn btn-dark">Eliminar</button>
            </form>
        </div>
    {% endfor %}
</div>
{% endblock %}

